
.spin-animation {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.publication-item {
  opacity: 0;
  transform: translateX(-20px); /* Start slightly to the left */
  transition: opacity 0.5s ease, transform 0.5s ease;
  margin-bottom: 20px; /* Add margin between publication items */
}

.publication-item.animation {
  opacity: 1;
  transform: translateX(0);
  animation: fadeInLeft 0.5s ease forwards; /* Apply the fadeInLeft animation */
}

.publication-title {
  font-size: 20px; /* Adjust the font size */
}

.homeContainer {
  margin-left: 20%;
}

/* AllUsers.css */

.dashboardContainer {
  text-align: center;
}

.heading {
  margin-bottom: 20px;
}

.tableContainer {
  margin: 0 auto; /* Center-align the table */
  width: 80%; /* Adjust the width of the table container */
  margin-right: 2%;
  margin-top: 2%;
}